/*.header {
    border-bottom: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: white;
}*/
* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    padding: 22px 0 px;
    justify-content: center;
    align-items: center;
    gap: 96px;
    background: #cebfce;
    border: 1 px solid #b5b7ba;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: #000;
    text-align: center;
    font-size: 60 px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
}
h1,h3 {
    margin-top: 32px;
    color: #000;
    text-align:left;
    font-size: 40 px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main {
    display: flex;
    padding: 64 px 0px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}

p {
    width: 600px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
  }
  .about {
    width: 600px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
  }
footer {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #e4dce4;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.img5{
    display: flex;
    padding: 20px 0px;
}