.violet-style {
    color: blueviolet;
    font-size: 10px;
}
#four {
    color: bisque;

}
.box1 {
    
    background: red;
    background-color:black;
}
.box2 {
    background-color: green;
}
.box3 {
    background-color: red;    
}
/* .box1, .box2, .box3 {
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
} */
.box {
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    
}