* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo {
    width: calc(50% - 40px);
    height: calc((35vw - 40px) / 16 * 9);
    margin: 20px;
    background-color: orange;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all 0.5s ease;
}
.photo:hover{
    transform: rotate(3deg) scale(1.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
h1 {
    width: 100%;
    text-align: center;
    tab-size: 48px;
}
.photo1 {
    background-image: url(./media/img1.jpeg);
}
.photo2 {
    background-image: url(./media/img2.jpeg);
}
.photo3 {
    background-image: url(./media/img3.jpeg);
}
.photo4 {
    background-image: url(./media/img4.jpeg);
}
.photo5 {
    background-image: url(./media/img5.jpeg);
}
.photo6 {
    background-image: url(./media/img6.jpeg);
}
.photo7 {
    background-image: url(./media/img7.jpeg);
}
.photo8 {
    background-image: url(./media/img8.jpeg);
}
.photo9 {
    background-image: url(./media/img9.jpeg);
}
.photo10 {
    background-image: url(./media/img10.jpeg);
}
.photo11 {
    background-image: url(./media/img11.jpg);
}
.photo12 {
    background-image: url(./media/img12.jpeg);
}